body {
  margin: 0;
  background: #a5bfdd;
  overflow: hidden;
}
h1 {
  position:relative;
  top:-50px;
}

tehmap{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.loading {
  text-align: center;
  margin: 80px;
}

div {
  position: absolute;
  font: 10px sans-serif;
  background: #a5bfdd;
  padding: 10px;
  left: 0;
  bottom: 0;
}

a {
  color: #777;
}

path {
  stroke: #d9d9d5;
  stroke-linejoin: round;
  stroke-width: 0.25px;
}

div.tooltip {   
  position: absolute;           
  text-align: left;          
  display: inline-table;                
  padding: 2px;             
  font: 12px sans-serif;
  color: #FFF;        
  background: #000;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}
